footer > div {
  /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
  float: left;
  width: 33%;
  text-align: center;

  /* 세로길이 설정 */
  height: 45px;
  line-height: 45px;
}

footer > div img {
  display: inline-block;
  vertical-align: middle;
}

footer > div > div {
  font-size: small;
}
